services:
  - type: web
    name: propertech-backend
    runtime: python
    region: singapore
    plan: free
    buildCommand: bash build.sh
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port 8000
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "30"
      - key: FRONTEND_URL
        value: https://propertech-indol.vercel.app
